.page{
background-color:lightgrey;
text-align:center;

}
.page__header{

}
.header__title{

}
.header__counter{
color:red;
font-size:50px;
font-weight:700;
}
.page__main{
display:flex;
justify-content: center;
align-items:center;
flex-direction:column;
}
.main__text{

}

#guessnumber{

}
.btn{

}
.page__footer{

}
.footer__text{

}