.page{
height:100vh;
margin:0;
padding:0 20px;
background-color:lightgrey;
display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;



}
.page__header{

}
.header__title{

}
.header__counter{
color:red;
font-size:50px;
font-weight:700;
}
.page__main{
display:flex;
justify-content: center;
align-items:center;
flex-direction:column;
}
.main__text{

}

#guessnumber{

}
.btn{

}
.page__footer{
    width:100%;   
    text-align:center;
}

.footer__text{
    
width:100%;
color:blue;
border: 1px solid blue;
}