.page{
    height:100vh;
    margin:0;
    padding:0 30px;
    background-color:lightgrey;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    font-family: 'Karla', sans-serif;    
}
.header__title{
    color:lightgrey;    
    font-size: 50px;
    text-shadow: -1px -1px 1px #0000ff, 1px -1px 1px #0000ff, -1px 1px 1px #0000ff, 1px 1px 1px #0000ff;
    transition-duration: 0.4s;
}
.header__title:hover{
    color:yellow;
}
.header__counter{
    position:absolute;
    right:30px;
    top:130px;
    color:lightgrey;
    text-shadow: -1px -1px 1px #ff0000, 1px -1px 1px #ff0000, -1px 1px 1px #ff0000, 1px 1px 1px #ff0000;    
    font-size:50px;
    font-weight:700;
    transition-duration: 0.4s;
}
.header__counter:hover{
    color:yellow;
}
.page__main{
    margin:0;
    padding:0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
}

.main__input{
    margin:30px;
    height:30px;
    text-align:center;
    transition-duration: 0.4s;
    background-color:lightgrey;
}

.main__input:hover{
    border-radius:76% 24% 69% 31% / 52% 52% 48% 48%;
}
.rotate-text{   
      transform: rotate(-7deg);           
      transform-origin: 50% 50%;                
} 
.btn {
    background-color:lightgrey;
    margin:30px;
    width:100px;
    height:40px;
    border-radius: 1px;
    border: 5px double yellow;  
    font-size:14px;      
    transition-duration: 0.4s;  
}
.btn:hover{
    border: 5px double darkgrey;
    background-color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
    font-size:14.5px;   
}
.reset-btn {
    background-color:lightgrey;
    margin:30px;
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 6px double #ff0000;  
    font-size:14px;      
    transition-duration: 0.4s;  
}
.reset-btn:hover{
    border: 5px double darkgrey;
    background-color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
    font-size:14.5px;   
}
.page__footer{
    width:100%;   
    text-align:center;
}
.footer__text{    
    width:100%;
    color:blue;
    border: 1px solid blue;
    padding:15px 0;
    transition-duration: 0.4s; 
}
.footer__text:hover{    
   border-radius:76% 24% 69% 31% / 52% 52% 48% 48%;
}
.prize{
    margin-top:90px;
    font-size:40px;
    color:pink;
    text-align:center;
    text-shadow: -1px -1px 1px #0000ff, 1px -1px 1px #0000ff, -1px 1px 1px #0000ff, 1px 1px 1px #0000ff;
    transform: rotate(9deg);           
    transform-origin: 50% 50%;  
    animation-name: arrowup;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes arrowup {
    0% {
        box-shadow: 0 0 4px rgba(black, .5);
        transform:translate(0,-50%);
        font-size:40px;
    }
    50% {
        box-shadow: 0 0 30px rgba(black, .5);
        transform:translate(0,-25%);
        font-size:38px;
    }
    85% {
        box-shadow: 0 0 40px rgba(black, .25);
        font-size:38px;
    }
    100% {
        box-shadow: 0 0 4px rgba(black, .3);
        transform:translate(0,-50%);
        font-size:40px;
    }
  }

